include README.md
recursive-include octoprint_ExternalCameraSettings/templates *
recursive-include octoprint_ExternalCameraSettings/translations *
recursive-include octoprint_ExternalCameraSettings/static *
